*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #abc, #eee); min-height: 100vh; font-family: arial; margin: 0; display: flex; flex-direction: column;
}
section{
    padding: 10px 20px; flex-grow: 1;
}
header, footer{
    flex-shrink: 0;
}

/* Header */
header{
    min-height: 136px; padding: 10px 20px; background-color: #eee; display: flex; justify-content: space-between; align-items: center; position: relative;
}
nav{
    text-align: right;
}
#showBar, #hideBar{
    display: inline-block; font-size: 2rem; display: none;
}
.top-nav{
    list-style-type: none; margin: 0; padding: 0;
}
.top-nav > li{
    display: inline-block;
}
.top-nav > li > a{
    text-decoration: none; display: inline-block; padding: 10px; border-radius: 10px; transition: background-color 0.5s ease-in-out, color 0.3s;
}
.top-nav > li > a:hover{
    background-color: blue; color: white;
}
.res-nav{
    position: absolute; top: 0; right: 0; padding-right: 20px; width: 50%; min-height: 400px; background-color: rgba(0,0,0,0.6); z-index: 1;
}
.res-nav-list{
    margin-top: 10px;
}
.res-nav-list > li{
    display: block;
}

/* Skills showoff */
.circles{
    width: 95%; margin: auto; box-shadow: 0 0 5px #999; padding: 20px 10px;
    display: flex; justify-content: center; align-items: center; gap: 60px; flex-wrap: wrap;
}
.outer{
    padding: 10px; border: 1px solid gray; border-radius: 50%; height: 115px; width: 115px; background: conic-gradient(rgba(0, 0, 255, 0.4) 200deg, #ccc 0deg); box-shadow: 0 0 5px gray; transition: 1s;
}
.inner{
    border: 1px solid transparent; border-radius: 50%; height: 93px; width: 93px; background-color: #ccc; box-shadow: 0 0 5px rgba(0,0,0,0.6) inset;
}
.inner > p{
    margin: 35px auto; width: fit-content; color: blue; font-weight: bold;
}

/* Footer */
footer{
    padding: 5px; background-color: gray; margin-top: 100px;
}

/* universal style / classes */
.wrapper{
    max-width: 1400px; margin: auto;
}
.basic-list{
    list-style-type: circle;
}
.basic-list li a:link, .basic-list li a:visited{
    display: inline-block; padding: 8px; text-decoration: none;
}
.basic-list li a:hover{
    background-color: black; color: white; border-radius: 5px;
}
.text-center{
    text-align: center;
}
.display-text{
    font-size: 2rem;
}
.blur{
    filter: blur(5px);
}
.under-const{
    text-align: center; color: red;
}
.basic-dl dt::before{
    content: "> ";
}
.basic-dl dd{
    margin-bottom: 10px; margin-top: 5px;
}
.basic-dl dd::before{
    content: "- ";
}

@media screen and (max-width: 767px){
    section{
        padding: 10px;
    }
    #showBar{
        display: block;
    }
    .top-nav{
        display: none;
    }
    .top-nav > li > a{
        color: white;
    }
    #hideBar{
        color: red; transform: translate(-5px, 18px);
    }
}
@media screen and (min-width: 768px){
    #showBar{
        display: none !important;
    }
    .top-nav{
        display: block !important;
    }
}
/* @media screen and (min-width: 1441px){
    header, section, footer{
        padding-left: 200px; padding-right: 200px;
    }
} */