*{
    box-sizing: border-box;
}
body{
    margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center; background: linear-gradient(45deg, #ccc, #eee); font-family: Arial, Helvetica, sans-serif;
}
section.profile-card{
    width: 100%; max-width: 400px; background: rgba(87, 174, 189, 0.699);
    display: flex; flex-direction: column; align-items: center;
    border-radius: 25px; padding: 20px; margin: 15px; box-shadow: -1px 0 5px black;
}
.profile-image{
    width: 150px; height: 150px;
}
.profile-image .image{
    width: 100%; height: auto; border-radius: 50%;
}
.text-content{
    cursor: default;
}
.text-content > #name{
    text-align: center; margin: 25px auto 10px; font-size: 32px; font-weight: 600;
}
.text-content > #job{
    text-align: center; margin: 5px auto; font-weight: 400;
}

/* Social Media */
.social-media{
    margin: 15px auto;
}
.social-media > i{
    color: white; height: 40px; width: 40px; font-size: 18px; padding-top: 11px; border-radius: 50%; margin: 5px; cursor: pointer; opacity: 0.7; transition: 0.2s all;
}
.fa-facebook-f{
    background-color: blue; padding-left: 15px;
}
.fa-instagram{
    background-color: red; padding-left: 13px;
}
.fa-linkedin-in{
    background-color: blue; padding-left: 13px;
}
.fa-youtube{
    background-color: red; padding-left: 11px;
}
.social-media > i:hover{
    opacity: 1.0;
}

/* Buttons */
.buttons > button{
    padding: 10px 30px; font-size: 16px; margin: 5px 8px; border-radius: 20px; border: none; background-color: rgba(0, 0, 255, 0.5); color: #eee; transition: 0.5s all ease-in; cursor: pointer;
}
.buttons > button:hover{
    background-color: rgba(0, 0, 255, 1);
}

/* Analytics */
.analytics{
    margin-top: 10px;
}
.analytics > p{
    display: inline-block; padding: 0 25px; border-right: 1px solid gray;
}
.analytics > p:last-child{
    border-right: none;
}
.analytics > p > span{
    margin-left: 7px; margin-right: 2px;
}